In [1]:
from sdgtools.readers import dss

In [7]:
b1sa_path = "C:\\Users\\emanuelFW\\projects\\sdg\\b1sa-gtm\\input\\B1Sa_gtm.dss"
b1sa_raw_data = dss.read_dss(b1sa_path)

In [8]:
b1sa_raw_data

                  datetime   node param       value unit
0      2020-09-01 00:00:00    anc    ec    0.000000  NaN
1      2020-09-01 00:15:00    anc    ec    0.007184  NaN
2      2020-09-01 00:30:00    anc    ec    0.014727  NaN
3      2020-09-01 00:45:00    anc    ec    0.016269  NaN
4      2020-09-01 01:00:00    anc    ec    0.016850  NaN
...                    ...    ...   ...         ...  ...
116827 2023-12-31 22:45:00  wdcut    ec  683.153809  NaN
116828 2023-12-31 23:00:00  wdcut    ec  685.296692  NaN
116829 2023-12-31 23:15:00  wdcut    ec  687.556152  NaN
116830 2023-12-31 23:30:00  wdcut    ec  689.880737  NaN
116831 2023-12-31 23:45:00  wdcut    ec  692.226807  NaN

[20912928 rows x 5 columns]